.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #222;
}

.btn {
  color: #fff;
  display: block;
  background-color: #5cb85c;
  margin-inline: auto;
  font: inherit;
}

.btn:hover {
  background-color: #4cae4c;
}
