:root {
  --color-primary: #ff5d00;
  --color-primary-darker: #bb5316;
  --color-secondary: #0282b4;
  --color-secondary-lighter: #2fabdb;
  --color-black: #111;
  --color-light-black: #333;
  --color-light-grey: #ccc;
  --color-white: #fff;
  --color-verde: #c6eeb5;
  --color-verde2: #dff0d8;
  --color-dorado: #fbffa2;
  --color-bronce: #faecb9;
  --color-rojo2: #f9dcdc;
  --color-celeste: #c6e7f7;
  --color-celeste2: #d9edf7;
  --color-amarillo: #fbffa2;
  --color-plateado: #ececec;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main-usuario {
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-light-grey),
    var(--color-secondary)
  );
  background-attachment: fixed;
}

section {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.nav-encogido {
  max-height: 0;
  overflow: hidden;
}
