.rounds-list {
  margin: 0;
  padding: 0;
}

.no-rounds {
  text-align: center;
  color: var(--color-white);
  text-shadow: -2px 2px 2px var(--color-light-black);
}

@media (min-width: 768px) {
  .rounds-list {
    border-radius: 0 10px 10px 0;
  }
}
