.acciones {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.7rem;
  font: inherit;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 300ms ease;
}

.btn-editar {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: white;
}

.btn-editar:hover {
  background-color: #2e6da4;
}
