.grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-top: 3rem;
}

.btn {
  color: #fff;
  display: block;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  border: none;
  padding: 0.5rem 0.7rem;
  font: inherit;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  margin: 2rem auto;
}

.btn:hover {
  background-color: #4cae4c;
}
