.form {
  text-align: center;
  margin-block: 4rem;
  font-size: 0.9rem;
}

.form input:focus {
  outline: 1px solid #ccc;
}

.btn {
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  color: #fff;
  font: inherit;
  transition: background-color 300ms ease;
}

.btn:hover {
  background-color: #4cae4c;
}
