.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
  color: #676767;
  transition: color 300ms ease;
}

.btn .icono-sumar {
  margin-left: 1rem;
}

.btn:hover {
  color: #333;
}

.color {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.9rem;
  padding-block: 0.2rem;
  margin-bottom: 0.3rem;
}

.box {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 2px;
}

.input-posiciones {
  width: 15ch;
}
