.form {
  color: #333;
  max-width: 900px;
  margin-inline: auto;
}

.tabla {
  text-align: center;
  margin: 2rem auto;
  border-collapse: collapse;
  font-size: 0.9rem;
  line-height: 1.4;
}

.tabla,
.tabla th,
.tabla td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.celda-ancha {
  text-align: start;
}

.tabla input {
  font-size: 0.9rem;
  line-height: 1.6;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 0.2rem;
  margin-block: -5px;
}

.input-tabla-numero {
  text-align: center;
  margin: 0;
  width: 4ch;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
