.current-month-rounds {
  background-color: var(--color-secondary);
}

@media (min-width: 768px) {
  .current-month-rounds__container {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 1rem;
  }
}
