.form {
  max-width: 400px;
  margin-inline: auto;
  margin-block: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.form h2 {
  font-size: 2rem;
}

.form .actions {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
}
