.form {
  max-width: 400px;
  margin-inline: auto;
  margin-block: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.form h2 {
  font-size: 2rem;
}

.input {
  margin-bottom: 1rem;
}

.select label {
  display: block;
  margin-bottom: 0.5rem;
}

.select select {
  display: block;
  width: 100%;
  padding: 0.4rem;
  padding-left: 1rem;
  border: 1px solid teal;
  border-radius: 3px;
  line-height: 1.6;
  font-size: 0.9rem;
}

.form .actions {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
}
