.current-tournaments {
  background-color: var(--color-light-black);
}

.current-tournaments__list {
  display: grid;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 350px) {
  .current-tournaments__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
