.titulo-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
  border-bottom: 1px solid #dedede;
}

.titulo-pagina h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 400;
  color: #333;
}

.btn {
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  border: none;
  padding: 0.5rem 0.7rem;
  font: inherit;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #4cae4c;
}
