.btn {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.7rem;
  font: inherit;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 300ms ease;
  color: #fff;
  background-color: #5cb85c;
}

.btn:hover {
  background-color: #4cae4c;
}
