.tournament {
  height: 200px;
  padding: 1.5rem 1rem;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-size: cover;
  position: relative;
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(1);
  transition: transform 300ms ease;
  font-family: monospace;
  letter-spacing: 2px;
}

.tournament:hover {
  transform: scale(1.05);
}

.tournament::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.tournament:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.tournament * {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.tournament h3 {
  margin-block: 0 0.5rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color-white);
}

.tournament h4 {
  margin-block: 0.5rem 0;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1.1rem;
}

.tournament a {
  color: var(--color-white);
  font-size: 0.8rem;
  transition: color 300ms ease;
  text-decoration: none;
}

.tournament .btn {
  width: max-content;
  margin-inline: auto;
  scale: 1;
  font-family: sans-serif;
  transition: scale 300ms ease, opacity 400ms ease;
}

.tournament:hover .btn {
  background-color: var(--color-primary);
}

.tournament .btn:hover {
  opacity: 0.8;
}

.tournament .btn:active {
  scale: 0.95;
}
