.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.list-header h2 {
  margin: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: hsl(0 0% 0% / 0.5);
  text-align: left;
}

.table th,
.table td {
  padding: 1rem;
}

.table tr:nth-of-type(2n) {
  background-color: hsl(0 0% 0% / 0.1);
}

.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
  text-align: left;
}

/* @media (max-width: 650px) {
  .table th {
    display: none;
  }

  .table td {
    display: grid;
    grid-template-columns: 20ch auto;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
  }

  .table td:first-child {
    padding-top: 2rem;
  }

  .table td:last-child {
    padding-bottom: 2rem;
  }

  .table td::before {
    content: attr(data-cell) ': ';
    font-weight: 700;
    text-transform: capitalize;
  }
} */
